@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
$font-family: "Inter", sans-serif;

// Helper Mixins
// px to rem converter
$font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($font-size)}rem;
}

// Transition mixin
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

// Spacing Scale
$baseline: rem(8px);
/* spacing values */
$space-01: rem(4px);
$space-02: $baseline;
$space-03: rem(12px);
$space-04: rem(16px);
$space-05: rem(24px);
$space-06: rem(32px);
$space-07: rem(40px);

// Colors
$color-black: #333333;
$color-gray: #4f4f4f;
$glass-color-light: rgba(255, 255, 255, 0.4);
$glass-color-light-active: rgba(255, 255, 255, 0.8);
$glass-color-dark: rgba(0, 0, 0, 0.4);

// $notes-color-primary: rgba(220, 140, 71, 1);
$notes-color-primary: rgba(231, 127, 35, 1);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-kerning: normal;
  &::-webkit-scrollbar {
    display: none;
  }
}
* {
  margin-top: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

// Typography
// Display XLarge
h1 {
  font-size: rem(42px);
  line-height: rem(44px);
  font-weight: 600;
  margin-top: $space-01;
  margin-bottom: $space-07;
}
// Display Large
h2 {
  font-size: rem(28px);
  line-height: 32px;
  font-weight: 600;
  margin-top: $space-01;
  margin-bottom: $space-06;
}
// Display Medium
h3 {
  font-size: rem(26px);
  line-height: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: $space-05;
}
// Page heading
h4 {
  font-size: rem(20px);
  line-height: rem(24px);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: $space-04;
}
// Heading
h5 {
  font-size: rem(18px);
  line-height: rem(24px);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: $space-03;
}
// Subheading
h6 {
  font-size: rem(12px);
  line-height: rem(16px);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: $space-03;
}
// Body text
p,
a,
li,
ul {
  font-size: rem(15px);
  line-height: rem(20px);
  font-weight: 400;
  margin-top: $space-01;
  margin-bottom: $space-02;
}
// Caption text, helper texts
small,
.small {
  display: inline-block;
  font-size: rem(12.5px);
  line-height: rem(16px);
  font-weight: 500;
  margin-bottom: $space-02;
}
.app-window {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(./images/mac-os-bg.png);
  // background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  &::-webkit-scrollbar {
    display: none;
  }
}
.button-glass {
  flex: 0 0 auto;
  padding: $space-03;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  margin: 0;
  outline: 0;
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  background-color: $glass-color-light;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  @include transition(background-color 300ms ease-out);
  &:hover {
    background-color: $glass-color-light-active;
  }
  > svg {
    display: flex;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }
}
.button-unicorn {
  float: left;
}
.button-settings {
  float: right;
}
.dialog-title {
  display: inline-block;
}
.button-dialog-close {
  padding-top: 0 !important;
  float: right;
}
.search-bar-glass {
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding-left: $space-04;
  padding-right: $space-03;
  padding-top: $space-03;
  padding-bottom: $space-03;
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  background-color: $glass-color-light;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  @include transition(background-color 300ms ease-out);
  &:hover {
    background-color: $glass-color-light-active;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  }
  > div {
    width: 100%;
  }
}
.search-bar-input > input {
  padding: 0;
}
.search-bar-button {
  min-width: 0;
}
.grid-wrapper {
  padding-top: $space-05;
}
.navbar-wrapper {
  padding-top: $space-05;
  padding-bottom: $space-07;
}
.bookmark-wrapper {
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  > svg {
    padding: $space-02;
    display: block;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: rem(48px);
    height: rem(48px);
    border-radius: rem(15px);
    background-color: $glass-color-light;
    backdrop-filter: blur(8px);
    @include transition(background-color 300ms ease-out);
    &:hover {
      background-color: $glass-color-light-active;
    }
  }
  > img {
    // padding: $space-01;
    display: block;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: rem(64px);
    height: rem(64px);
    border-radius: rem(15px);
    background-color: $glass-color-light;
    // backdrop-filter: blur(8px);

    -moz-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
  }
  > small {
    color: white;
    margin-top: $space-03;
    // flex: 1;
    // min-width: 0;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  }
}
.widget-wrapper {
  width: 100%;
}
.weather-widget-wrapper {
  display: block;
  position: relative;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: rem(15px);
  background-color: $glass-color-dark;
  backdrop-filter: blur(8px);
  > img {
    border-radius: rem(15px);
    width: 100%;
    height: auto;
  }
}
.notes-widget-wrapper {
  overflow: hidden;
  display: block;
  min-height: 150px;
  background-color: $glass-color-light;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: rem(15px);
  @include transition(background-color 300ms ease-out);
  &:hover {
    background-color: $glass-color-light-active;
  }
}
.notes-widget-bar {
  padding: $space-02 $space-03;
  align-items: center;
  justify-content: center;
  user-select: none;
  vertical-align: middle;
  background-color: $notes-color-primary;
  > small {
    color: white;
    display: flex;
    margin-bottom: 0;
  }
}
.notes-widget-content {
  padding: $space-02 $space-03;
  > small {
    color: $color-gray;
    display: flex;
    .note-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.notes-activated-button {
  background-color: $notes-color-primary;
  border: none;
  text-align: left;
  display: inline-block;
  small {
    color: $notes-color-primary;
  }
}
.notes-window {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  // small {
  //   color: $notes-color-primary;
  // }
}
.notes-add-button {
  padding-top: 0 !important;
  padding-right: 20px;
}

.notes-text-style-bar {
  padding: $space-02;
  margin: -20px;
}
.todo-list-widget-wrapper {
  overflow: hidden;
  display: block;
  min-height: 150px;
  background-color: $glass-color-light;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: rem(15px);
  @include transition(background-color 300ms ease-out);
  &:hover {
    background-color: $glass-color-light-active;
  }
}
.todo-list-widget-bar {
  padding: $space-02 $space-03;
  align-items: center;
  justify-content: center;
  user-select: none;
  vertical-align: middle;
  background-color: $color-black;
  > small {
    color: white;
    display: flex;
    margin-bottom: 0;
  }
}
.todo-list-widget-content {
  padding: $space-02 $space-03;
  > small {
    color: $color-gray;
    display: flex;
    align-items: center;
    .todo-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.folders-wrapper {
  position: absolute;
  top: auto;
  bottom: 0;
  padding-top: $space-03;
  padding-bottom: $space-04;
  white-space: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.folder-wrapper {
  color: $color-black;
  flex: 0 0 auto;
  .folder-title {
    padding: $space-02 $space-05;
  }
  .add-folder {
    display: inline-block;
    padding: $space-02 $space-05;
    & > svg {
      vertical-align: bottom;
    }
  }

  overflow: visible;
  text-align: center;
  cursor: pointer;
  margin: 0 $space-03 0 0;
  outline: 0;
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  background-color: $glass-color-light;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  @include transition(background-color 300ms ease-out);
  &:hover {
    background-color: $glass-color-light-active;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  }
}

.grid-add-bookmark {
  padding-top: $space-04;
  & > large {
    padding-right: $space-04;
  }
  .folder-form-control {
    width: 100%;
  }
}
.button-100 {
  width: 100px;
}
.hide {
  position: absolute;
  left: -9999px;
}
.unicorn-success {
  color: "#77dd77";
  display: flex;
}
